<div id="container">
  <h2>Video Speed Controller</h2>
  <div>
    <%= video_tag "Kk_n_zz.mp4", size: "400 x 300", controls: true, autoplay: true, id: "myVideo" %>  
  </div>
  <div id="background">
    <div id="slider">
      
    </div>
  </div>
  

</div>
